.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: rgb(221, 2, 2) 1px solid;
}

.error-message {
  color: rgb(233, 4, 4);
}

.active-filter {
  background-color: rgb(110, 190, 255);
}

.is-done {
  opacity: 0.5;
}